*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
} 

.page {
  width: 1140px;
  height: 800px;
  display: flex;
  justify-content: center;
}

/* Основа */
.content {
  display: grid;
  column-gap: 30px;
  grid-template-columns: 711px 399px;
  grid-template-rows: 534px;
  /* overflow: hidden; */
  margin-top: 133px;
  margin-bottom: 133px;
}

.result {
  grid-row-start: 1;
  grid-row-end: 3;
  align-self: end;
}

.result__video {
  /* max-width: 711px;
  max-height: 386px; */
  width: 711px;
  height: 386px;
}

.result__video-container {
  position: relative;
}

.search-form {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

fieldset {
  border: none;
}

.search-form__label {
  display: flex;
  width: fit-content;
}

.search-form__textfield {
  cursor: pointer;
  appearance: none;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px
}

/* ВТорая половина */
.content__details {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 250px 250px;
  width: 100%;
  /* overflow: hidden; */
  /* grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2; */
  grid-row-start: 1;
  grid-row-end: 3;
  max-height: 100%;
  grid-column-start: 2;
  grid-column-end: 3; 
}

.title {
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: end;
  font-size: 75px;
  text-transform: uppercase;
  line-height: 94%;
  font-family: OSWALD;
}

.content__accent {
  color: #545050;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__list {
  width: 100%;
  /* overflow: scroll;
  grid-row-end: 2; */
  overflow-y: scroll;
  height: 100%;
  grid-row-start: 2;
  grid-row-end: 3;

}

.content__list-item {
  width: 100%;
}

.content__video-card-thumbnail {
  max-width: 50%;
}

.content__card-link {
  text-decoration: none;
}

.content__video-card-description-container {
  width: 50%;
  color: #fff;
}

.content__video-card {
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}

.content__video-card-title {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
}

.content__video-card-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 90%;
  
}

.content__list {
  position: relative;
}

.content__list > li:last-child {
  position: sticky;
  bottom: 0;
}

.more-button {
  /* position: sticky; */
  
  /* left: 0; */
  width: 100%;
}
